<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pokemon</title>
</head>
<body>
    <h1>Pokemon</h1>
    <ol>
        <% allPokemon.forEach(pokemon => { %>
            <li>
                <a href="/pokemon/<%= pokemon.name %>">
                    <%= pokemon.name %>
                </a>
            </li>
        <% }) %>
    </ol>
</body>
</html>