<%- include('../partials/html-head') %>
<%- include('../partials/nav', {loggedIn: loggedIn}) %>
    <h1>Pokemon</h1>
    <ol>
        <% allPokemon.forEach(pokemon => { %>
            <li>
                <a href="/pokemon/<%= pokemon.name %>">
                    <%= pokemon.name %>
                </a>
            </li>
        <% }) %>
    </ol>
</body>
</html>