<%- include('../partials/html-head') %>
<%- include('../partials/nav', {loggedIn: loggedIn}) %>
    <h1>Create a new Pokemon</h1>
    <form class="create form" action="/pokemon" method="post">
        <div class="field">
            <label for="number">Number:</label>
            <input type="number" name="number">
        </div>
        <div class="field">
            <label for="name">Name:</label>
            <input type="text" name="name">
        </div>
        <div class="field">
            <label for="type">Type:</label>
            <select name="type" id="type">
                <option value="grass">Grass</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="bug">Bug</option>
                <option value="normal">Normal</option>
                <option value="poison">Poison</option>
                <option value="electric">Electric</option>
                <option value="ground">Ground</option>
                <option value="fairy">Fairy</option>
                <option value="fighting">Fighting</option>
                <option value="psychic">Psychic</option>
                <option value="rock">Rock</option>
                <option value="ghost">Ghost</option>
                <option value="ice">Ice</option>
                <option value="dragon">Dragon</option>
                <option value="metal">Metal</option>
            </select>
        </div>
        <div class="field">
            <label for="hp">Hp:</label>
            <input type="number" name="hp">
        </div>
        <div class="field">
            <label for="starter">Starter:</label>
            <input type="checkbox" name="starter">
        </div>
        <button type="submit">Create Pokemon</button>
    </form>
</body>
</html>