<%- include('../partials/html-head') %>
<%- include('../partials/nav', {loggedIn: loggedIn}) %>
    <h1>Sign Up Page</h1>
    <form action="/user/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <label for="password">Password:</label>
        <input type="text" name="password">
        <label for="passwordConfirmation">Password Confirmation:</label>
        <input type="text" name="passwordConfirmation">
        <button type="submit">Enter</button>
    </form>


</body>
</html>