@font-face {
    font-family: 'pokemon';
    src: url('./fonts/Pokemon-Solid.ttf')
}

h1 {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    font-family: 'pokemon';
    color: yellow;
    background-color: blue;
}
#comment-section {
    border: solid grey 3px;
    border-radius: 10px;
    width: 500px;
    min-height: 100px;
}

#comment-input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
}

.all-pokemon {
    display: flex;
    flex-wrap: wrap;
}

.pokemon {
    margin: 2px;
    list-style-position: inside;
    border: 1px solid black;
    padding: 3px;
}

.pokemon:hover {
    background-color: gray;
}

.pokemon-link {
    text-decoration: none;
    color: black;
}

.form {
    margin: auto;
    border: 5px black solid;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}

.create {
    width: 250px;
    height: 300px;
}

.field {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.comment {
    margin: 0px;
    padding: 1px;
    border-bottom: 1px solid grey;
    word-wrap: break-word;
}